
/* undo popup styles */
a.popups-processed.menu_add_content_item:after {
  content:inherit;
  font-size:inherit;
  vertical-align:inherit;
}

.menu_add_content_title {
  font-weight: bold;
}

/* Hide Add Content items in menu overview */
#menu-overview-form tr.add_content_item {
	display: none;
}